@charset "UTF-8";
/* Body */
body {
	font-family: source-sans-pro;
	background-color: #efe864;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	background-color: #ffffff;
}
/* Navigation */
header {
	width: 100%;
	height: 5%;
	background-color:  #b3b3b3;
	border-bottom: 2px solid black;
}

.logo {
	color: #a4312e;
	font-size: 16px;
	font-weight: bold;
	text-align: undefined;
	width: 15%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}

#demo {
	font-size: 26px;
	font-weight: bold;
	text-align: center;
}

nav {
	font-weight: bold;
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}

header nav ul {
	list-style: none;
	float: right;
}

nav ul li {
	float: left;
	color: #ffffff;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}

ul li a {
	color: #a4312e;
	text-decoration: none;
}

ul li:hover a {
	color: #2c9ab7;
}

.hero_header {
	color: #a4312e;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
/* Hero Section */
.hero {
	background-image: url(./assets/cchr_mural_final-copy-2-scaled.jpg);
	padding-top: 150px;
	padding-bottom: 150px;
}

.light {
	font-weight: bold;
	color: #a4312e;
}
.tagline {
	font-size: 40px;
	text-align: center;
	color: #a4312e;
	margin-top: 4px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}
/* About Section */
.text_column {
	width: 29%;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}
.about {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 35px;
	display: inline-block;
	background-color: #ffffff;
	margin-top: 0px;
}
/* Stats Gallery */
.stats {
	color: black;
	margin-bottom: 5px;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%;
	background-color: #ffffff;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 35px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	width: 20%;
	text-align: center;
	float: left;
	margin-top: 35px;
	margin-right: 60px ;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	color: #52bad5;
}

.gallery .thumbnail p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #a3a3a3;
}
/* Parallax Section */
.banner {
	background-color: black;
	background-image: url(../images/parallax.png);
	height: 200px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.parallax {
	color: #ffffff;
	text-align: right;
	padding-right: 100px;
	padding-top: 70px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description {
	color: #ffffff;
	text-align: center;
	padding-right: 10px;
	padding-bottom: 50px;
	font-size: 60px;
	font-family: 
	width: 30%;
	font-weight: bold;
	line-height: 2px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
/* More info */

.flocation {
	margin-left: 300px;
	text-align: center;
	font-weight: bold;
}
footer {
	background-color: #ffffff;
	padding-bottom: 35px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);
body {
  font-family: "Open Sans";
  line-height: 200%;
}
#subscribe{background:#ddd;padding:15px 30px 15px 30px;margin:10px;border:none;cursor:pointer;border-radius:10px;}
input {
  width: 100%;
  height: 55px;
  background-color: #eee;
  border: none;
  padding-left: 15px;
  outline: none;
  font-weight: 600;
  position: relative;
  border-radius:10px;
}
.footersection{
  width: 800px;
  margin: 10px auto;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 32px;  color:#fff !important;
}

h3 {
  font-size: 16px;  color:#fff;
}

p {
  font-size: 16px;
  color: black;
}

.button {
  margin-top: 30px;
  padding: 2.2% 5.5%;
  display: inline-block;
  -webkit-transition: all linear 0.15s;
  transition: all linear 0.15s;
  border-radius: 3px;
  background: #a4312e;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
}
.button:hover {
  opacity:1.75;
}

.wrapper {
  width: 50%;
  height: 50%;
  display: none;
  position: absolute;
  top: 1050px;
  left: 0px;
  content: "";
  background: rgba(0, 0, 0, 1);
}

.popup-box {
  width: 400px;
  padding: 70px;
  transform: translate(-50%, -50%) scale(.5);
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 2px 16px rgba(255,255, 255, .9);
  border-radius: 20px;
  text-align: center;

}
.popup-box h2 {
  color: 1a1a1a#;
}
.popup-box h3 {
  color: #888;
}
.popup-box .close-button {
  width: 35px;
  height: 35px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  border-radius: 1000px;
  background: #7b78ff;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  line-height: 190%;
}
.popup-box .close-button:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.transform-in, .transform-out {
  display: block;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.transform-in {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
.transform-out {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
}
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 20px;
	float: left;
}
footer .footer_column h3 {
	font-size: 30px;
	color: #a4312e;
	text-align: center;
}
footer .footer_column p {
	color: black;
	font-weight: bolder;
	background-color: #ffffff;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #ffffff;
	color: #ffffff;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #fefefe;
	color: #c4c4c4;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner {
	background-color: #b3b3b3;
	padding-top: 60px;
	padding-bottom: 60px;
	margin-bottom: 0px;
	background-image: url(../images/pattern.png);
	background-repeat: repeat;
}
footer {
	display: inline-block;
margin-top: 10px;
}
.hidden {
	display: none;
}

/* Mobile */
@media (max-width: 320px) {
	.logo {
		width: 100%;
		text-align: center;
		margin-top: 13px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
	}
	.container header nav {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		float: none;
		display: none;
	}
	header nav ul {
	}
	nav ul li {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		text-align: center;
	}
	.text_column {
		width: 100%;
		text-align: justify;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
	}
	.thumbnail {
		width: 100%;
	}
	.footer_column {
		width: 100%;
		margin-top: 0px;
	}
	.parallax {
		text-align: center;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 40%;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		width: 100%;
		font-size: 18px;
	}
	.parallax_description {
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		width: 90%;
		margin-top: 25px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 12px;
		float: none;
		text-align: center;
	}
	.banner {
		padding-left: 10px;
		padding-right: 10px;
		line-height: 22px;
		text-align: center;
	}
	.tagline {
		margin-top: 20px;
		line-height: 22px;
	}
	.hero_header {
		padding-left: 10px;
		padding-right: 10px;
		line-height: 22px;
		text-align: center;
	}
}


@media (min-width: 4px) and (max-width: 932px) {
.logo {
		width: 100%;
		text-align: center;
		margin-top: 13px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		color: #043745;
	}
	.container header nav {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		float: none;
		overflow: auto;
		display: inline-block;
		background: #52bad5;
	}
	header nav ul {
		padding: 100px;
		float: none;
	}
	nav ul li {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		text-align: center;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.text_column {
		width: 100%;
		text-align: left;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
	}
	.thumbnail {
		width: 100%;
	}
	.footer_column {
		width: 100%;
		margin-top: 0px;
	}
	.parallax {
		text-align: center;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 40%;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		width: 100%;
		font-size: 18px;
	}

	.flocation {
		margin-left: 0px;
	}
	.parallax_description {
		font-size: small;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		margin-top: 30%;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		float: none;
		width: 10%;
		text-align: center;
	}
	.thumbnail {
		width: 50%;
	}
	.parallax {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-top: 20%;
	}
	.parallax_description {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		padding-top: 30px;
	}
.wrapper {
		width: 100%;
		height: 100%;
		display: none;
		position: absolute;
		top: 2300px;
		left: 0px;
		content: "";
		background: rgba(0, 0, 0, 1);
	}
	
	.banner {
		padding-left: 10px;
		padding-right: 10px;
		line-height: 22px;
		text-align: center;
	}
	.footer_column {
		width: 100%;
	}
	.footersection {
		width: 100%;
	}
}



/* Small Tablets */
@media (min-width: 321px) and (max-width: 767px) {
	.logo {
		width: 100%;
		text-align: center;
		margin-top: 13px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		color: #043745;
	}
	.container header nav {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		float: none;
		overflow: auto;
		display: inline-block;
		background: #52bad5;
	}
	header nav ul {
		padding: 0px;
		float: none;
	}
	nav ul li {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		text-align: center;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.text_column {
		width: 100%;
		text-align: left;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
	}
	.thumbnail {
		width: 100%;
	}
	.footer_column {
		width: 100%;
		margin-top: 0px;
	}
	.parallax {
		text-align: center;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 40%;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		width: 100%;
		font-size: 18px;
	}

	.flocation {
		margin-left: 0px;
	}
	.parallax_description {
		font-size: small;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		margin-top: 30%;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		float: none;
		width: 10%;
		text-align: center;
	}
	.thumbnail {
		width: 50%;
	}
	.parallax {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-top: 20%;
	}
	.parallax_description {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		width: 100%;
		padding-top: 30px;
	}
.wrapper {
		width: 100%;
		height: 100%;
		display: none;
		position: absolute;
		top: 2300px;
		left: 0px;
		content: "";
		background: rgba(0, 0, 0, 1);
	}
	
	.banner {
		width: max-content;
		width: 100px;
		padding-left: 10px;
		padding-right: 10px;
		line-height: 22px;
		text-align: center;
	}
	.footer_column {
		width: 100%;
	}
	.footersection {
		width: 100%;
	}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
	.text_column {
		width: 100%;
	}
	.thumbnail {
		width: 50%;
	}
	.text_column {
		width: 100%;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		padding-left: 0px;
	}
	.banner {
		padding-left: 10px;
		padding-right: 10px;
		line-height: 22px;
		text-align: center;
		font-size: small;
	}
	.parallax_description {
		font-size: small;
	}
}
